@import "compass/reset"
@import "compass/css3/box-sizing"

$width: 700px
$black: #555
$minor_black: #888
$link_color: #006699

body
  background-color: #fafafa
  color: $black
  font-family: 'Georgia', 'Times New Roman', 'Songti SC', 'STSong', serif
  font-size: 17px
  line-height: 24px

  &>.wrapper
    width: $width
    margin: 0 auto
    padding: 20px

  .navigation
    .home
      font-size: 2.5em
      line-height: 1.5em

    .pages
      list-style-type: none
      padding-left: 0
      color: $minor_black

  &>.footer
    width: $width
    margin: 0 auto
    border-top: 1px solid #eee
    padding: 10px
    font-size: .8em
    color: $minor_black

    span
      margin-right: .5em
      &:not(:last-child):after
        content: '|'
        margin-left: .5em

@media screen and (max-width: 960px)
  body
    &>.wrapper, &>.footer
      +box-sizing(border-box)
      width: 100%

a
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: underline

h1
  font-size: 1.8em
  line-height: 1.2em

  a
    color: inherit

h2
  font-size: 1.5em
  line-height: 1.2em

h3
  font-size: 1.25em
  line-height: 1.2em

ol, ul
  padding-left: 3em

ol
  list-style-type: decimal

  &.entry-list
    li
      margin-bottom: .2em

ul
  list-style-type: square

time
  color: #aaa
  margin-left: .5em

.entry-content
  &>*
    margin: 1em 0

  a
    color: $link_color

.entry-tags
  margin: 1em 0
  padding-left: 0

  li
    display: inline-block
    margin-right: .2em

    &:first-child
      margin-left: .2em

    &:not(:last-child):after
      content: '/'
      margin-left: .2em

strong
  font-weight: bold

blockquote, em
  font-style: italic

code
  font-family: consolas, menlo, monaco, monospace
  font-size: .9em

$code_block_bg: #FDF6E3
pre
  font-family: consolas, menlo, monaco, monospace
  font-size: .8em
  background-color: $code_block_bg
  border: 1px solid darken($code_block_bg, 10%)
  overflow: auto

  code
    font-size: inherit
